#no_banned_accounts_display {
  margin: auto;
}

#btnRemove {
  padding: 2px;
}

#no_banned_accounts_display_message {
  font-size: 18px;
}

#list_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

#list_wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding: 6px;
  font-size: 18px;
  border-bottom: 1px solid #999999;
  width: 80%;
  text-align: center;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#banned_form {
  width: 20%;
  margin-top: 0;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

#banned_form button {
  padding: 7px;
  margin-top: 18px;
  font-size: 14px;
}

@media only screen and (max-width: 1258px) {
  #banned_form {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  #banned_form {
    width: 60%;
  }
}
